{% extends "findme/base.html" %}
{% block content %}
<div class="container">

       <div class="col-md-12">
              <div style="margin-top: 5%;" class="row">
                     <h1 style="color:whitesmoke;">About Page</h1>
                     <p>
                     <h2 style="color:whitesmoke;">Topic: Web based Lost & Found Platform</h2>
                     <h2 style="color: whitesmoke;">Framework: Django</h2>
                     <br>
                     <h2 style="color:whitesmoke;"> Done By:<br></h2>
                     <br>
                     <ul>
                            <l1>
                                   <h4 style="color:whitesmoke;">SABIN TAMANG</h4>
                                   <h4 style="color:whitesmoke;">Welcome to Lost and Found, your trusted platform dedicated to reconnecting people with their misplaced belongings. Whether you've lost something valuable or found an item that doesn’t belong to you, we are here to help bridge the gap.</h4>
                                   <h4 style="color:whitesmoke;">Our Mission
                                          At Lost and Found, our mission is to:
                                          
                                          Reunite lost items with their rightful owners quickly and efficiently.
                                          Foster a community based on honesty, trust, and collaboration.
                                          Provide a seamless and secure platform for reporting and recovering lost belongings.</h4>
                            </l1>
                     </ul>
                     <h2 style="color:whitesmoke;">References: </h2>
                     <br>
                     <h4><a style="background: rgba(16, 140, 223, 0.8); color:whitesmoke"
                                   class="btn btn-outline-secondary link"
                                   href="https://docs.djangoproject.com/en/3.1/">The Official Django
                                   Documentation</a></h4>
                            </p>
              </div>
       </div>


</div>

{% endblock %}